@{
    ViewBag.Title = "Home Page";
}

<section id="apps">

    <div class="container">
        <div class="row">
            <div class="jumbotron text-center">
                <h1>Simple apps for a simpler life</h1>
                <p>Kicking it in the name of easy</p>
                @*<p>Nothing new made easy</p>*@
                <button class="btn btn-primary btn-lg">Learn More</button>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center jumbotron eat-background-image app-section eat-background">
                <a href="https://www.google.com/#q=eat">
                    <h2><span class="glyphicon glyphicon-cutlery"></span><br />COUNT</h2>
                </a>
                <p>calories, nothing else</p>
                <button class="btn">Coming Soon</button>
            </div>

            <div class="col-md-4 text-center jumbotron train-background-image app-section train-background">
                <h2><span class="glyphicon glyphicon-heart-empty"></span><br />TRACK</h2>
                @*<h2><span class="glyphicon glyphicon-heart-empty"></span><br />TRAHCK</h2>*@
                <p>to keep you on track</p>
                <button class="btn">Coming Soon</button>
            </div>

            <div class="col-md-4 text-center jumbotron live-background-image app-section live-background">
                <h2><span class="glyphicon glyphicon-home"></span><br />LIVE</h2>
                <p>easy with simple tools</p>
                <button class="btn">Coming Soon</button>
            </div>

        </div>
    </div>
</section>
<div class="row more-info-holder">

</div>

